#analytics-section {
    margin: 20px; /* Add margin for spacing */
    padding: 20px; /* Add padding for inner spacing */
    border-radius: 8px; /* Rounded corners for the container */
}

#analytics-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Center align items vertically */
}

#analytics-section p
{
    font-size: 2rem;
}