*{
    box-sizing: border-box;
}

:root
{
    --text-colour: #ffffff;
    --background-colour: #ff0080;
    --dark: #333333;
    --accent: #ff4696;
}

html
{
    scroll-behavior: smooth;
    overscroll-behavior: none;
    width: 100%;
    overflow-x: hidden;
}

body
{
    background-color: var(--background-colour);
    font-family: main;
    margin: 0;
    overflow-x: hidden;
    color: var(--text-colour);
}

#page-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#content-wrap
{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

button
{
    font-family: "Source";
    cursor: pointer;
}

.global-button
{
    opacity: 0.6;
    padding: 1rem 1.5rem;
    border: none;
    color: var(--dark);
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 26px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}

.global-button:hover
{
    opacity: 1;
    transform: scale(1.03);
}

@font-face {
    font-family: "Source";
    src: url("../../public/fonts/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "BoldFont";
    src: url(../../public/fonts/Milker.otf)
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%) scaleX(1);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 1450px) {
  /* Left side circles */
  #page-container::before {
    content: "";
    position: absolute; 
    top: 0;
    left: -5vw;
    width: 12vw;
    background-size: 12vw;
    height: 100%;
    background-image: url("../../public/images/lemons.png");
    background-repeat: repeat-y;
    z-index: 2;

    /* Animation */
    animation: slideInLeft 1s ease-out forwards;
  }

  /* Right side circles */
  #page-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5vw;
    width: 12vw;
    background-size: 12vw;
    height: 100%;
    background-image: url("../../public/images/left-lemons.png");
    background-repeat: repeat-y;
    background-position: 0px 6vw;
    z-index: 1;

    /* Animation */
    animation: slideInRight 1s ease-out forwards;
  }
}


/* Mobile view */

@media (max-width: 768px) {

    h1
    {
        font-size: 4rem !important;
    }

}


.not-found
{
    margin-top: 150px;
    padding: 0 2vw;
    flex: 1;
    width: 100%;
    max-width: 1200px;
}

.not-found h1
{
    position: relative;
    color: var(--white);
    z-index: 100;
    width: 100%;
    text-align: start;
    font-size: 6rem;
    font-family: "BoldFont";
    margin: 0;
}

.not-found p
{
    position: relative !important;
    font-size: 2rem;
    z-index: 100;
    top: -50px;
    width: 100%;
    text-align: start;
    margin-top: 90px;
    margin-bottom: 0px;
}

.not-found button
{
    padding: 1rem 1.5rem;
    background-color: var(--white);
    color: var(--dark);
    border: none;
    height: 100%;
    border-radius: 25px;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.not-found button:hover
{
    transform: scale(1.03);
}