#brands {
  padding: 0vw 2vw;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1200px;
}

#brands h1 {
  font-size: 4.83em;
  margin: 0;
  text-align: center;
  color: var(--white);
  font-family: "BoldFont", cursive;
  margin-top: 0;
  margin-bottom: 50px;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: var(--white);
  border-radius: 16px;
  padding: 40px;
  
}

.brand-carousel {
  display: flex;
  gap: 20px;
}

.brand {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.brand-image:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}

.brand p {
  margin-top: 10px;
  font-size: 1.6rem;
  color: #000;
  font-family: "main", monospace;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url("../../public/fonts/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Brands";
    src: url("../../public/fonts/Panchang-Variable.ttf");
}