#clients {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0vw 2vw;
  position: relative;
}

#clients > * {
  position: relative;
  z-index: 2;
}

#clients .home-decor-arrow--clients {
  top: -50px;
  right: 178px;
  width: 110px;
  height: auto;
  position: absolute;
  transform: rotate(56deg) !important;
  z-index: 60;
  transition: all 0.3s ease;
  will-change: transform opacity;
}

@media (max-width: 1100px) {
  #clients .home-decor-arrow--clients {
    opacity: 0 !important;
  }
}

#clients h1
{
  text-align: start;
  margin-bottom: 0px;
  font-weight: lighter;
}

#clients .main-text {
  font-family: "BoldFont";
  font-weight: lighter;
  margin: 0 0 10px;
  font-size: 4.83rem;
  line-height: 1.02;
}

@media (max-width: 900px) {
  #clients .main-text {
    font-size: 3rem;
  }
}

#clients .sub-text
{
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.testimonial-card {
  background-color: var(--white);
  border-radius: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000;
  height: 400px;

  will-change: opacity, transform;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  contain: paint;
  z-index: 0;

  /* keep opacity at 0.9999 to prevent Safari from dropping the layer */
  opacity: 0.9999;
  transition: all 0.3s ease;
}

.testimonial-card:hover
{
  transform: scale(1.02) !important;
}


@supports (-webkit-touch-callout: none) {
  .testimonial-card {
    opacity: 0.9999; /* Safari won’t drop the layer */
  }
}

.testimonial-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.client-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.company-name {
  font-size: 1.2rem;
  font-weight: lighter;
  color: var(--accent); 
}

.quote {
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0px;
}

.client-meta {
  font-size: 0.9rem;
  color: #555;
  margin-top: auto;
}

/* Responsive */
@media (max-width: 1200px) {
  .clients-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 550px) {
  .clients-grid {
    grid-template-columns: 1fr;
  }
}
