#contact-top-img
{
    background-image: url("../../public/images//elaine/image00037.jpg");
    background-size: cover; /* Makes the image cover the entire container */ 
    background-position: center;
    width: 100%;
    height: calc(200px + 15vw);
    z-index: -100;
    position: relative;
    top: 0px;
    z-index: 3;
    background-color: var(--hot-pink);
    border-radius: 4vw;
    display: none;
}

#contact
{
    padding: 0vw 2vw;
    height: 100%;
    flex: 1;
    max-width: 1200px;
}

#contact .main-text
{
    position: relative;
    color: var(--white);
    z-index: 100;
    width: 100%;
    text-align: start;
    font-size: 6rem;
    font-family: "BoldFont";
}


#contact .sub-text
{
    position: relative !important;
    font-size: 2rem;
    z-index: 100;
    top: -50px;
    width: 100%;
    text-align: start;
    margin-top: 90px;
    margin-bottom: 0px;
}

#contact{
    overflow: hidden;
    margin-top: 150px;
}

#contact-holder{
    text-align: start;
    padding-top: 0;
    position: relative;
}


.contact-form
{
    margin-top: 8px;
    padding-top: 0px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 10px;
}

.form-group label{
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 550;
    font-size: 1.2rem;
}

.form-group input
{
    height: 70px;
    border-radius: 16px;
    border: 3px solid white;
    padding-left: 25px;
    font-size: 1rem;
    font-family: main;
    background-color: transparent;
}

.form-group textarea
{
    height: 190px;
    border-radius: 16px;
    border: 3px solid white;
    padding-left: 25px;
    padding-top: 25px;
    font-size: 1rem;
    color: var(--black);
    background-color: transparent;
}

textarea::placeholder
{
    color: var(--text-colour);
}

input::placeholder
{
    color: var(--text-colour);
}

.button-container
{
    display: flex;
    gap: 20px;
    width: 100%;
}

.button-container.right
{
    justify-content: flex-end;
}

.clear-button
{
    
}

.submit-button, .clear-button
{
    background-color: var(--white);
    height: 55px;
    font-weight: bold;
    border: none;
    color: var(--dark);
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.submit-button:hover
{
    transform: scale(1.05);
}