#footer
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-bottom: 0px;
    position: relative;
    padding-top: 10px;
    z-index: 6;
    width: 100%;
    overflow: hidden;
    /* border-top: 15px solid black */
}

.footer-content
{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    padding: 2vw;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0px;
}

.footer-content .row
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-title
{
    font-family: "BoldFont";
    color: var(--black);
    font-size: 7rem;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

#quick-links h1
{
    color: var(--black);
}

#quick-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}

#quick-links a {
    color: var(--hot-pink);
    font-size: 1.5rem;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}


#quick-links a:hover
{
    font-weight: bold;
}

#address h1
{
    margin-top: 27px;
    color: var(--white);
    font-family: "BoldFont";
}

#address p
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--white);
}

#footer-logo
{
    width: 300px;
    align-self: center;
    margin-bottom: 32px;
    margin-top: 6px;
}

.footer-rose
{
    position: absolute;
    bottom: 0vw;
    background-image: url("../../public/images/processed/rose.png");
    z-index: -11;
    right: 0%;
    transform: translate(0%, 30%);
    width: 65%;
    height: 100%;
    right: 0%;
    transform: scale(1.7);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.8;
}


#footer-socials
{
    display: flex;
    position: relative;
    justify-content: center;
    left: 50%;
    bottom: 0px;
    width: 0;
    height: 83px;
}

#extra-info #social-links
{
    margin-top: 30px;
    transform-origin: center;
}

#extra-info
{
    color: var(--white);
    margin-top: 0;
}

#extra-info p
{
    font-size: 1.5rem;
    margin-top: -0;
    margin-bottom: 10px;
    opacity: 0.8;
    font-family: "Source";
}

#extra-info button
{
    background-color: rgb(255, 255, 255);
    border: none;
    color: var(--black);
    margin-top: 20px;
    font-size: 1.3rem;
    height: fit-content;
    padding: 10px 30px;
}

.copy-right {
  text-align: start;
  font-size: 1.2rem;
  color: #383838;
  margin-top: 2rem;
  padding: 1rem 0;
}


@media (min-width: 960px) {

}