
#home-img
{
    display: none;
    min-width: 50%;
    height: 500px;
    background-color: var(--primary-colour);
    border-radius: 50px;
}

.main-text
{
    text-decoration: none;
    font-weight: lighter;
    font-size: 5rem !important;
    text-align: start !important;
    margin: 0;
}

.sub-text
{
    font-size: 1.5rem;
    font-weight: lighter;
}

#intro-img
{
    width: 50%;
}

@keyframes identifier {
    
}

@keyframes identifier {
    
}