

#intro
{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#intro h1
{
    color: var(--black);
    font-size: 4.5rem;
    font-weight: bolder;
    margin-top: 0;
    text-wrap: nowrap;
}

#intro p
{
    color: var(--black);
    font-size: 1rem;
    margin-bottom: 0;
}

#intro-cover
{
    background-size: cover; /* Makes the image cover the entire container */ 
    background-position: center;
    width: 100%;
    position: absolute;
    z-index: -100;
    height: 100dvh;
    top: 0;
    left: 0;
  }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  padding: 2vw;
  border-radius: 5dvw;
  filter: brightness(1.1);
}

.social-intro-links
{
  position: absolute;
  right: 4dvw;
  bottom: 3.5dvw;
}

#intro-bottom
{
  height: 150px;
}

#intro-curve {
    background-image: url("../../public/svgs/curve.svg");
    background-size: cover; /* Makes the image cover the entire container */ 
    background-position: center;
    position: absolute;
    width: 100%;
    height: 14dvw;
    z-index: -100;
    left: 0;
    bottom: 0;
    transform: translateY(-14dvw);
    min-height: 200px;
}

#polka-dot {
    position: absolute;
    width: 100%;
    height: 800px; /* Set the initial height */
    z-index: -10;
    top: 800px;
    opacity: 0;
    background-image: url('../../public/images/processed/polka.png'); /* Add your image URL */
    background-repeat: repeat-y; /* Repeat the image vertically */
    background-size: auto;
    background-position: top;
}

#social-intro-holder
{
  text-align: center;
  margin-top: 3vw;
}

#social-intro-text
{
  position: relative;
  color: var(--white) !important;
  font-size: 1.3rem !important;
  text-wrap: nowrap;
  margin-top: 0;
  width: fit-content;
  padding: 15px 30px;
  background-color: rgba(220, 220, 220, 0.284);
  z-index: 1;
  border-radius: 7dvw;
}

.semi-circle-container {
  position: absolute;
  z-index: 152;
  padding-bottom: 0;
  cursor: pointer;
  top: 0;
  height: 50%;
  left: 0%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 0.7vw;
  padding-bottom: 0px;
}

#mouse
{
    width: 3dvw;
    height: 3dvw;
    margin: 0 auto;
    margin-top: 2dvw;
    transition: transform 0.3s ease;
}

#down {
  width: 2dvw;
  height: 2dvw;
  margin: 5px auto;
  position: relative; /* Make top property effective */
  animation: bob 2s ease-in-out infinite;
  z-index: 153;
}

@keyframes bob {
  0% {
    top: 0;
  }
  50% {
    top: 10px; /* Move down */
  }
  100% {
    top: 0; /* Return to original position */
  }
}


#intro-logo {
    width: 100%;
    height: auto;
    z-index: -10;
    width: 70dvw;;
    opacity: 0.1;
    padding-bottom: 10px;
    padding-top: 50px;
    animation: flyDownFadeIn 0.6s ease forwards;
  }

.highlight {
    position: relative;
    display: inline-block;
}


/* The semi-circle line */
.semi-circle-container svg path {
    fill: none;
    stroke: var(--hot-pink, hotpink);
    stroke-width: 3px;
}

#intro-circle {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 15dvw;
  width: 15dvw;
  border-radius: 50%;
  background-color: var(--white);
  margin: 0px;  
  z-index: 151;
  gap: 0.4dvw;
  bottom: 2vw;
  transform: translateY(50%);
  padding: 6px;
  /* clip-path: inset(0 0 50% 0) */
}

.loader {
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0%;
  top: 0px;
  border-radius: 50%;
  border: 0.9dvw solid transparent;
  border-top: 0.9dvw solid var(--hot-pink);
  animation: spin 1.5s infinite linear;
  transform-origin: center;
  margin: 0 !important;
}

#intro-items
{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@keyframes spin {
  0%{
    transform: rotate(0deg) scale(0.94);
  }

  100%{
    transform: rotate(360deg) scale(0.94);
  }
}


@keyframes flyDownFadeIn {
    0% {
        transform: scale(0.95);
        opacity: 0;
        top: 100px;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        top: 170px;
    }
}

@keyframes flyDownFadeInText {
  0% {
      opacity: 0;
      top: -150px;
  }
  100% {
      opacity: 1;
      top: -110px;
  }
}

