.portfolio-section {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 2vw;
}

.portfolio-section h1
{
  font-size: 4.83rem;
  font-weight: 100;
  text-align: center;
  font-family: "BoldFont";
  margin: 0;
  margin-bottom: 50px;
}

.portfolio-image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 5px solid white;
  outline-offset: -5px;
  border-radius: 16px; /* optional */
}

.portfolio-image {
  width: 100%;
  height: 600px;
  display: block;
  z-index: -1;
  object-fit: cover; 
  background-color: var(--white);
  border-radius: 16px; 
}

.portfolio-text {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: var(--dark);
  font-family: "BoldFont", sans-serif;
}

.squiggle
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: url("../../public/images/processed/squiggle.png");
    background-size: clamp(300px, 100%, 800px);
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-text h1 {
  position: absolute;
  font-size: 3rem;
  margin: 0;
  z-index: 1;
  text-align: center !important;
}
