#results
{
    position: relative;
    padding: 50px;
    padding-top: 80px;
    background-color: var(--hot-pink);
    padding-bottom: 100px;
}

#results h1
{
    color: var(--white);
    font-size: 3.5rem;
    border-bottom: 2px #ffffff64 solid;
    padding-bottom: 50px;
}

.custom-bullet-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-bullet-list li {
    margin: 40px 0;
    padding-left: 3rem;
    position: relative;
    color: var(--white);
    font-size: 2rem;
    line-height: 1.6;
}

.custom-bullet-list li::before {
    content: "";
    background-image: url("/public/images/processed/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: -10px;
    top: 35px;
    transform: translateY(-50%);
}

#results-bottom-curve {
    background-image: url("/public/svgs/client-top-curve.svg");
    width: 100vw;
    height: 150px;
    background-position: center;
    background-size: cover;
    z-index: 10;
    position: absolute;
    transform: rotate(180deg);
    left: 0;
    bottom: -150;
}

#car-img
{
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    max-width: 700px;
    z-index: 11;
    bottom: -250px;
}