#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7eef4;
    padding: 30px;
    position: relative;
    border-bottom: var(--hot-pink) 4px dotted;
}

#services-text {
    text-align: start;
    margin-bottom: 20px;
    margin-top: 20px;
}

#services h1 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 15px;
}

#services p {
    font-size: 1.5rem;
    margin-top: 10px;
}

#service-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px; /* Adds spacing between grid items */
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
    align-items: center;
}

.service-item {
    width: 95%; /* Take up full width of the grid column */
}

.service {
    position: relative;
    height: 100%;
    max-height: 300px;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    max-width: 100%; /* Ensure it fits within the parent container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition on hover */
    display: flex;
    outline: 3px black solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-background
{
    opacity: 0.1;
    z-index: -100;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/public/images/processed/polka.png");
    top: 0;
    background-size:auto;
    background-repeat: repeat;
    background-position: center;
}


.service:hover {
    transform: scale(1.05) rotate(0deg) !important; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}


.service-title {
    color: var(--hot-pink);
    font-size: 2rem;
    padding: 5px;
    z-index: 101;
    width: 100%;
    margin-bottom: 5px;
    text-align: start;
    margin-top: 0;
}

.service-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 40px;
}

.service-image {
    width: auto;
    height: 200px;
    max-height: 300px;
    background-color: var(--white);
    opacity: 1;
    margin: auto 40px;
    border-radius: 10px;
}

.service-description {
    position: relative;
    z-index: 99;
    height: 100%;
    transition: top 0.3s ease;
    color: var(--black);
    padding: 5px;
    width: 100%;
    text-align: start;
    overflow-y: hidden;
    text-align: start;
    min-height: 10px;
    margin-bottom: 5px;
}

.service button
{
    width: 150px;
    max-height: 50px;
    min-height: 50px;
    background-color: var(--hot-pink);
    border: none;
    color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    justify-self: flex-start;
    box-sizing: border-box;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.service button:hover
{
    transform: scale(1.03);
}

.service:hover .service-description {
    top: 0;
}

#service-bottom-curve {
    position: absolute;
    z-index: 100;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../../public/svgs/service-curve.svg");
    transform-origin: bottom center;
    transform: rotate(180deg) scaleY(0.4);
    left: 0;
}

.top-line-service
{
    display: flex;
    justify-content: space-between;
}

#service-button-container
{
    display: flex;
    justify-self: center;
    margin: auto 0;
}

.service-button
{
    background: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px var(--hot-pink) solid;
    margin-left: 10px;
    transform-origin: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-wrap: nowrap;
}

.service-button img
{
    width: 100% !important;
    height: 100% !important;
    transform-origin: center;
    transform: scale(0.5);
}


@media (max-width: 953px) {
    .service-image
    {
        display: none;
    }

    .service
    {
        height: 100%;
        max-height: 400px;
    }

    .service-info
    {
        align-items: center;
    }
}


@media (min-width: 4000px) {
    .service.image-right {
        transform: rotate(0.1deg);
    }
    .service.image-left {
        transform: rotate(0.1deg);
    }
}

/* Slightly zoomed out */
@media (max-width: 3999px) and (min-width: 700px) {
    .service.image-right {
        transform: rotate(0.5deg);
    }
    .service.image-left {
        transform: rotate(-0.5deg);
    }
}