#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    margin: 2vw;
    margin-top: 6vw;
}

#services-background
{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f9d0eb33;
    opacity: 1;
    border-radius: 5dvw;
}

#services-content
{
    width: 100%;
    padding: 2vw;
}

#services-text {
    text-align: start;
    margin-bottom: 20px;
    margin-top: 20px;
}

#services-text .main-text
{
    text-align: start !important;
}

#services h1 {
    font-size: clamp(3rem, 8vw, 9rem);
    margin: 0;
    margin-bottom: 15px;
    font-family: "main";
}

#services p {
    font-size: clamp(1.3rem, 4vw, 2rem);
    margin-top: 10px;
    margin-left: 10px;
}

#service-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-top: 3dvw;
}

/* Each column */
.service-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

/* Taller items */
.service-item.tall {
  flex: 1.5; /* 1.5x taller than normal items */
}

.service-item {
  flex: 1; /* normal items */
}


.service-item {
  width: 100%;
  overflow: hidden;
  border-radius: 5vw;
}

.service {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 35vh;
    background-color: var(--white);
    max-width: 100%; /* Ensure it fits within the parent container */
    display: flex;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: space-between;
    cursor: pointer;
}

.service-background
{
    opacity: 0.1;
    z-index: -100;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size:auto;
    background-repeat: repeat;
    background-position: center;
}


.service:hover {
    transform: scale(1.05) rotate(0deg) !important; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}


.service-title {
    color: var(--white);
    font-family: "BoldFont";
    font-size: clamp(2.3rem, 4vw, 13rem);
    z-index: 101;
    width: 100%;
    margin-bottom: 5px;
    text-align: start;
    margin-top: 0;
}

@font-face {
    font-family: "Returns";
    src: url("../../public/fonts/Returns.ttf");
}


@font-face {
    font-family: "Boldonse";
    src: url("../../public/fonts/UT\ Boldonse\ Demo.ttf");
}

.service-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3vw;
    position: absolute;

}

.service-image {
    width: 100%;
    height: 100%;;
    background-color: #ff82c7;
    opacity: 1;
    object-fit: cover;
}

.service-description {
    position: relative;
    display: none;
    z-index: 99;
    height: 100%;
    transition: top 0.3s ease;
    color: var(--white);
    width: 100%;
    text-align: start;
    overflow-y: hidden;
    text-align: start;
    min-height: 10px;
    margin-bottom: 5px;
    margin-left: 0px !important;
}

.service button
{
    width: 150px;
    max-height: 50px;
    min-height: 50px;
    background-color: var(--hot-pink);
    border: none;
    color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    justify-self: flex-start;
    box-sizing: border-box;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.service button:hover
{
    transform: scale(1.03);
}

.service:hover .service-info
{
    display: flex;
}

.service:hover .service-description {
    top: 0;
}

.top-line-service
{
    display: flex;
    justify-content: space-between;
}

#service-button-container
{
    display: flex;
    justify-self: center;
    margin: auto 0;
}

.service-button
{
    background: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px var(--hot-pink) solid;
    margin-left: 10px;
    transform-origin: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-wrap: nowrap;
}

.service-button img
{
    width: 100% !important;
    height: 100% !important;
    transform-origin: center;
    transform: scale(0.5);
}


@media (max-width: 953px) {

    .service
    {
        height: 100%;
        max-height: 400px;
    }

    .service-info
    {
        align-items: center;
    }
}
