#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7eef4;
    padding: 30px;
    position: relative;
    border-bottom: var(--hot-pink) 4px dotted;
}

#services-text {
    text-align: start;
    margin-bottom: 0px;
    margin-top: 20px;
}

#services h1 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 15px;
    text-wrap: nowrap;
}

#services p {
    font-size: 1.5rem;
    margin-top: 10px;
}

#service-container {
    padding: 20px;
    display: grid;
    gap: 20px; /* Adds spacing between grid items */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible layout for responsive design */
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
}

.service-item {
    overflow: hidden;
    width: 100%; /* Take up full width of the grid column */
}

.service {
    position: relative;
    height: 700px;
    width: 300px;
    background-color: var(--white);
    border-radius: 5px;
    max-width: 100%; /* Ensure it fits within the parent container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition on hover */
}

.service:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}


.service-title {
    color: var(--hot-pink);
    display: inline-block;
    font-size: 2rem;
    padding: 5px;
    z-index: 101;
    max-width: 80%;
    margin-bottom: 5px;
    height: 90px;
    text-align: center;
}

.service-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-info button
{
    background-color: var(--hot-pink);
    border: none;
    height: 40px;
}

.service-image {
    width: 100%;
    height: auto;
    padding: 50px;
    object-fit: cover;
    object-position: center;
    background-color: var(--white);
    box-sizing: border-box;
}

.service-description {
    position: relative;
    z-index: 99;
    height: 100px;
    transition: top 0.3s ease;
    color: var(--black);
    margin-left: 20px;
    padding: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
}

.service:hover .service-description {
    top: 0;
}

#service-bottom-curve {
    position: absolute;
    z-index: 100;
    bottom: 0;
    height: 300px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url("../../public/svgs/service-curve.svg");
    transform-origin: bottom center;
    transform: rotate(0deg) scaleY(1);
}

.top-line-service
{
    display: flex;
    justify-content: space-between;
}

#service-button-container
{
    display: flex;
    justify-self: center;
    margin: auto 0;
}

.service-button
{
    background: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px var(--hot-pink) solid;
    margin-left: 10px;
    transform-origin: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-wrap: nowrap;
}

.service-button img
{
    width: 100% !important;
    height: 100% !important;
    transform-origin: center;
    transform: scale(0.5);
}
