#social-links {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
}

#social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#social-links a:hover {
  transform: scale(1.15);
  opacity: 0.85;
}

.social-icon {
  width: 30px;
  height: 30px;
  opacity: 1;
  object-fit: contain;
  transition: transform 0.2s ease;
}

#social-links a:hover {
  transform: scale(1.2); /* grow a bit */
  opacity: 1 !important;
}
