
#social-links {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
}

.profile-img
{
    border-radius: 50%;
    height: 80% !important;
    width: auto !important;
    margin-left: 8px;
    margin-right: 8px;
    border: 3px var(--white) solid;
    align-self: center !important;
}

#social-links a {
    display: flex;
    width: fit-content;
    height: 60px;
    background-color: var(--hot-pink);
    border-radius: 36px;
    position: relative;
    margin: 10px;
    justify-content: center;
    transform-origin: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    animation: fade-in 1.8s ease;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 28px;
    opacity: 0.8;
}

#social-links a p {
    top: 0 !important;
    text-wrap: nowrap;
    margin: 0;
    align-self: center;
    color: var(--white);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1;
    font-size: 0.8rem;
    align-self: baseline;
    margin-left: 3px;
    margin-top: 5px;
}

.stack
{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}


#social-links a img {
    width: 140px;
    height: auto;
    align-self: flex-start;
    transform-origin: center;
}

#social-links a:hover
{
    transform: scale(1.05);
    opacity: 1;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}